.saga {
    padding: 6vw;

    &__content {
        text-align: center;
        
        &__title{
            padding: 32px 0;

            @media (max-width: 768px) {
                padding-top: 48px;
                padding-bottom: 24px;
            }
        }

        p {
            padding: 8px 0;

            &:nth-last-child(1) {
                font-weight: bold;
            }

        }

        &__list {
            &__item {
                padding: 8px 0;
                font-weight: bold;
            }
        }
    }
}